<h1>New Customer</h1>

<%= form_with model: @customer, local: true do |form| %>
  <div>
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
    <%= @customer.errors.full_messages_for(:full_name).join(", ") %>
  </div>

  <div>
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
    <%= @customer.errors.full_messages_for(:phone_number).join(", ") %>
  </div>

  <div>
    <%= form.label :email_address %>
    <%= form.email_field :email_address %>
    <%= @customer.errors.full_messages_for(:email_address).join(", ") %>
  </div>

  <div>
    <%= form.label :notes %>
    <%= form.text_area :notes %>
    <%= @customer.errors.full_messages_for(:notes).join(", ") %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
    <%= @customer.errors.full_messages_for(:image).join(", ") %>
  </div>

  <div>
    <%= form.submit 'Create Customer' %>
  </div>
<% end %>

<%= link_to 'Back to Customers', customers_path %>
