<!DOCTYPE html>
<html>
  <head>
    <title>Customer Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <header>
      <nav>
        <div class="container">
          <h1><%= link_to 'Customer Management', root_path %></h1>
        </div>
      </nav>
    </header>

    <main class="container">
      <%= yield %>
    </main>

    <footer>
      <p>&copy; 2024 Customer Management App</p>
    </footer>
  </body>
</html>
